// ---------- scss: 変数設定 ----------
// カンプ / コンテンツ幅の指定
$sp-full-width: 390;        // スマホ用のカンプ幅
$pc-full-width: 1500;       // PC用のカンプ幅
$pc-content-width: 1200;    // PC用のカンプのコンテンツ幅(ガイド線の幅)

// ブレークポイント設定
$breakpoint-md: 768;
$breakpoint-lg: $pc-content-width;

// ---------- scss: ブレークポイント関数 ----------
$breakpoints: (
    "md": "screen and (min-width: #{$breakpoint-md}px)",
    "lg": "screen and (min-width: #{$breakpoint-lg}px)",
) !default;

@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

// ---------- 共通スタイル ----------
html {
	font-size: calc(10 * 100vw / $sp-full-width);
    scroll-behavior: smooth;

    @include mq() {
        font-size: calc(10 * 100vw / $pc-content-width);
    }

    @include mq(lg) {
        font-size: 62.5%;
    }
}

body {
    font-family: 'Noto Serif JP', serif;
    color: #000;
    line-height: 2.286;
}

.section-title {
    font-family: 'EB Garamond', serif;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    letter-spacing: .1rem;
    @include mq() {
        font-size: 4.5rem;
        letter-spacing: .2rem;
    }
}

.section-description {
    font-size: 1.6rem;
    line-height: 1;
    margin-top: 1.2rem;
    text-align: center;
    letter-spacing: .1rem;
    @include mq() {
        font-size: 2rem;
        margin-top: 1.9rem;
        margin-left: .3rem;
    }
}

// ---------- ヘッダー ----------
.header {
    height: 57rem;
    width: 100%;
    background-image: url('/assets/image/img_mainVisual_sp.jpg');
    background-size: 100% 45rem;
    background-position: top left;
    padding: 2.6rem 2.3em .5rem 2.3rem;

    @include mq() {
        height: 72rem;
        background-image: url('/assets/image/img_mainVisual_pc.jpg');
        background-size: cover;
        background-position: center;
        padding: 3.2rem 2.3em 3.2rem 2.3rem;
    }

    &__container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        @include mq() {
            max-width: 120rem;
            margin: 0 auto;
            display: block;
        }
    }

    &__logo-container {
        text-align: center;
    }

    &__logo {
        width: 14rem;
        height: 2.4rem;

        @include mq() {
            width: 16.2rem;
            height: 3.4rem;
        }
    }

    &__content {
        width: 30rem;

        @include mq() {
            width: 40rem;
            position: relative;
            top: 43.6%;
            transform: translateY(-50%);
            left: 7.3rem;
        }
    }

    &__title {
        font-family: 'Marcellus', serif;
        font-size: 4.1rem;
        letter-spacing: 1.2rem;
        line-height: 1.24;
        font-weight: 400;
        margin-bottom: .9rem;

        @include mq() {
            font-size: 5rem;
            letter-spacing: 1.5rem;
            line-height: 1.34;
            margin-top: .6rem;
            margin-bottom: 0;
        }
    }

    &__description {
        font-size: 2rem;
        letter-spacing: .6rem;
        margin-top: 1.1rem;
        word-break: keep-all;

        @include mq() {
            font-size: 2.5rem;
            letter-spacing: .75rem;
            line-height: 2;
            margin-top: .4rem;
        }
    }

}

// ---------- メイン ----------
// ---------- 商品購入 ----------
.apply {
    padding: 3.7rem 0 5rem 0;
    @include mq() {
        padding: 5rem 0 5rem 0;
    }

    &--second {
        padding-top: 4.7rem;
        padding-bottom: 1rem;
        @include mq() {
            padding-top: 5.1rem;
        }
    }

    &__container {
        max-width: 35.8rem;
        margin: 0 auto;
        padding: 2.5rem 0 3.4rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #f0f4ff;

        @include mq() {
            max-width: 100rem;
            padding: 4.2rem 4.8rem 4.2rem 4.8rem;
            flex-direction: row;
            align-items: center;
            column-gap: 6rem;
        }
    }

    &__product {
        text-align: center;

        @include mq() {
            display: flex;
            flex-direction: column;
        }
    }

    &__product-name {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1;
        letter-spacing: .2rem;

        @include mq() {
            font-size: 2.4rem;
            line-height: 1;
            letter-spacing: .25rem;
        }
    }

    &__pricing {
        font-size: 1.6rem;
        line-height: 1;
        margin-top: 1rem;

        @include mq() {
            font-size: 1.6rem;
            line-height: 1;
            margin-top: 1.5rem;
            letter-spacing: .15rem;
            text-align: left;
        }
    }

    &__btn-list {
        margin-top: 2.2rem;
        display: flex;
        flex-direction: column;
        row-gap: 2rem;

        @include mq() {
            flex-direction: row;
            column-gap: 3.2rem;
            margin-top: 0rem;
        }
    }
}

.link-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 5.8rem;
    border-radius: 2.9rem;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
    text-decoration: none;

    &--blue {
        background-color: #46c4db;
        border: 2px solid #46c4db;
        color: #fff;
        &:hover {
            background-color: #fff;
            color: #46c4db;
        }
    }

    &--mint {
        background-color: #5dd5ab;
        border: 2px solid #5dd5ab;
        color: #fff;
        &:hover {
            background-color: #fff;
            color: #5dd5ab;
        }
    }
}

// ---------- 商品説明 ----------
.product {
    height: 68rem;
    width: 100%;
    padding-top: 5.3rem;
    background-image: url('/assets/image/img_product_sp.jpg');
    background-position: center;
    background-size: cover;
    @include mq() {
        height: 55rem;
        background-image: url('/assets/image/img_product_pc.jpg');
        padding-top: 0;
    }

    &__container {
        margin: 0 auto;
        color: #fff;
        padding: 0 1.6rem;

        @include mq() {
            max-width: 120rem;
            height: 100%;
            padding: .2rem 5.4rem 0 5.2rem;
            display: flex;
            align-items: center;
            justify-content: right;
        }
    }

    &__align-right {
        @include mq() {
            width: 46.7rem;
            padding-top: 1rem;
        }
    }

    &__description {
        margin-top: 1.9rem;
        font-size: 1.4rem;
        @include mq() {
            margin-top: 2.4rem;
            width: 42.9rem;
        }
    }
}

.section-title--product {
    letter-spacing: 0;
    @include mq() {
        font-size: 3.8rem;
        letter-spacing: 0;
        text-align: left;
    }
}

.section-description--product {
    font-size: 2.4rem;
    margin-top: 1.8rem;
    letter-spacing: 0;
    @include mq() {
        font-size: 2.4rem;
        text-align: left;
        letter-spacing: 0;
        margin-left: 0;
    }
}

// ---------- お客様の声 ----------
.voices {
    padding: 5.4rem 1.6rem 4.6rem 1.6rem;
    @include mq() {
        padding: 8.7rem 2.2rem 8.7rem 2.2rem;
    }

    &__container {
        max-width: 35.8rem;
        margin: 0 auto;

        @include mq() {
            max-width: 115.6rem;
        }
    }

    &__carousel {
        margin-top: 3.9rem;
        display: flex;
        justify-content: center;
        @include mq() {
            margin-top: 4.3rem;
        }
    }

    &__card {
        width: 28rem;
        height: 34.4rem;
        padding: 2.8rem 1.5rem 2.8rem 1.5rem;
        list-style: none;
        background-color: #dbf7f9;
        justify-items: center;
        font-size: 1.4rem;
        @include mq() {
            width: 30rem;
            height: 38.8rem;
            padding: 4rem 1.6rem 4rem 1.6rem;
        }
    }

    &__photo {
        width: 8rem;
        height: 8rem;
        justify-self: center;
        margin-left: 1rem;
        @include mq() {
            width: 10rem;
            height: 10rem;
            margin-left: 0;
        }
    }

    &__name {
        line-height: 1;
        margin-top: 1.2rem;
        margin-left: .2rem;
        @include mq() {
            font-size: 1.5rem;
            margin-top: 1.2rem;
            margin-left: 0rem;
        }
    }

    &__comment {
        text-align: left;
        line-height: 2;
        margin-top: 1.9rem;
        @include mq() {
            font-size: 1.6rem;
            margin-top: 1.6rem;
            line-height: 1.75;
        }
    }
}

// カルーセル（slick）
.slick-list {
    width: 28rem;
    height: 34.4rem;
    @include mq() {
        width: 102rem;
        height: 38.8rem;
        display: flex;
        flex-direction: column;
        column-gap: 4rem;
    }
}
.slick-prev, .slick-prev:focus, .slick-prev:hover {
    width: 3.2rem;
    height: 3.2rem;
    left: 0;
    background-image: url('/assets/image/icon_arrow_left_circle.svg');
    background-size: contain;
    background-repeat: no-repeat;
    @include mq() {
        width: 4.8rem;
        height: 4.8rem;
    }
}
.slick-prev:before {
    content: none;
}
.slick-next, .slick-next:focus, .slick-next:hover {
    width: 3.2rem;
    height: 3.2rem;
    right: 0;
    background-image: url('/assets/image/icon_arrow_right_circle.svg');
    background-size: contain;
    background-repeat: no-repeat;
    @include mq() {
        width: 4.8rem;
        height: 4.8rem;
    }
}
.slick-next:before {
    content: none;
}
.slick-slide {
    @include mq() {
        padding: 0 2rem;
    }
}
.slick-dots {
    bottom: -3rem;
    @include mq() {
        bottom: -3.8rem;
    }
}
.slick-dots li {
    width: 1.75rem;
    height: 1.75rem;
    margin: 0;
}
.slick-dots li.slick-active button:before {
    color: #00afbf;
    opacity: 1;
}
.slick-dots li button:before{
    font-size: 1.1rem;
    color: #eee;
    opacity: 1;
}

// よくあるご質問
.questions {
    padding: 3.6rem 1.6rem 3.1rem 1.6rem;
    background-image: linear-gradient(90deg, #f4ffe8, #c6f0fe);
    @include mq() {
        padding: 4.4rem 1.6rem 3.9rem 1.6rem;
    }

    &__container {
        @include mq() {
            max-width: 120rem;
            margin: 0 auto;
            padding: 0 30rem;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        margin-top: 4.1rem;
        @include mq() {
            row-gap: 2.5rem;
            margin-top: 4.5rem;
        }
    }

    &__content {
        list-style: none;
        background-color: #fff;
        font-size: 1.5rem;
    }

    &__details {
        padding-bottom: .5rem;
        overflow: hidden;
        @include mq() {
            padding-bottom: .4rem;
        }
        &[open] {
            padding-bottom: 0;
            .questions__question {
                &:after {
                    transform: rotate(0deg);
                    transition: transform .3s ease;
                }
            }
            .questions__answer {
                max-height: 50rem;
                opacity: 1;
                transition: all .5s ease;
            }
        }
    }

    &__question {
        display: flex;
        line-height: 1.867;
        padding: 1.6rem 1.6rem 1.2rem 1.6rem;
        color: #444;
        @include mq() {
            position: relative;
            cursor: pointer;
            padding: 2.1rem 1.6rem 1.7rem 2.3rem;
        }
        &::marker {
            content: none;
        }
        &:before {
            content: "Q.";
            font-family: 'EB Garamond', serif;
            font-size: 1.6rem;
            padding-right: 1.1rem;
            letter-spacing: .1rem;
            line-height: 1;
            margin-top: .7rem;
            @include mq() {
                font-size: 1.8rem;
                margin-top: .4rem;
                margin-left: .1rem;
                padding-right: 1.5rem;
            }
        }
        &:after {
            content: "";
            display: block;
            background-image: url('/assets/image/icon_caret_up.svg');
            transform: rotate(180deg);
            transition: transform .3s ease;
            width: 1.6rem;
            height: .645rem;
            background-size: 1rem .645rem;
            margin-top: 1.4rem;
            @include mq() {
                width: 1.3rem;
                height: 1rem;
                background-size: 1.3rem;
                margin-top: 1rem;
                margin-right: 1.6rem;
                position: absolute;
                right: .8rem;
            }
        }
    }

    &__answer {
        display: flex;
        line-height: 1.867;
        padding: 0 1.6rem 2.9rem 1.6rem;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: all .5s ease;
        @include mq() {
            padding: 0 2.4rem 2.1rem 2.3rem;
        }

        &:before {
            content: "A.";
            font-family: 'EB Garamond', serif;
            font-size: 1.6rem;
            padding-right: 1.1rem;
            letter-spacing: .1rem;
            line-height: 1;
            margin-top: .7rem;
            @include mq() {
                font-size: 1.8rem;
                margin-top: .6rem;
                margin-left: .1rem;
                padding-right: 1.5rem;
            }
        }
    }
}

// ---------- フッター ----------
.scroll-to-top {

    &__wrapper {
        display: flex;
        justify-content: flex-end;
        position: sticky;
        bottom: 2rem;
        max-width: 35.8rem;
        margin: 0 auto;
        @include mq() {
            max-width: 120rem;
        }
    }

    &__button {
        width: 4rem;
        height: 4rem;
        background-color: #0071ce;
        border: 2px solid #0071ce;
        display: none;
        text-align: center;
        vertical-align: middle;
        line-height: 4.3rem;

        &:hover {
            background-color: #fff;

            .scroll-to-top__img--default {
                display: none;
            }
            .scroll-to-top__img--hover {
                display: inline;
            }
        }
    }
    &__img {
        width: 1.4rem;
        height: 1.6rem;
    }

    &__img--hover {
        display: none;
    }
}
.footer {
    background-color: #0071ce;

    &__container {
        max-width: 35.7rem;
        margin: 0 auto;
        padding: 2.4rem 2rem 2.4rem 2rem;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 1.6rem;
        @include mq() {
            max-width: 120rem;
            flex-direction: row;
            justify-content: space-between;
            padding: 3.2rem 3.2rem 3.2rem 3.2rem;
        }
    }

    &__logo {
        width: 16.6rem;
        height: 3.5rem;
        display: block;
        @include mq() {
            width: 19rem;
            height: 4rem;
        }
    }

    &__link-list {
        display: flex;
        column-gap: 3.2rem;
        margin-top: .4rem;
        @include mq() {
            margin-top: 0;
            margin-left: 5rem;
        }
    }

    &__link-content {
        list-style: none;
    }

    &__link {
        color: inherit;
        text-decoration: none;
        font-size: 1.2rem;
        @include mq() {
            font-size: 1.4rem;
        }
        &:hover {
            opacity: .7;
        }
    }
}
.copyright {
    font-size: 1.1rem;
    @include mq() {
        font-size: 1.2rem;
        margin-top: .2rem;
    }
}